[Unit]
Description=WBCards telegrambot daemon
After=network.target

[Service]
User=wbcard
Group=wbcard
WorkingDirectory=/home/wbcard/wb_cards
ExecStart=/home/wbcard/wb_cards/venv/bin/python /home/wbcard/wb_cards/manage.py runbot
Restart=on-abort

[Install]
WantedBy=multi-user.target